@mixin screen-xs {
  @media screen and (min-width: #{$screen-xs}) {
    @content;
  }
}
@mixin screen-sm {
  @media screen and (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin screen-md {
  @media screen and (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin screen-lg {
  @media screen and (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin screen-xl {
  @media screen and (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin screen-xxl {
  @media screen and (min-width: #{$screen-xxl}) {
    @content;
  }
}

// Colors the Navigation buttons for each planet page
@mixin buttonBkg($color) {
  background-color: transparent;
  &:hover {
    background-color: $darkGray;
  }
  &:active {
    background: $color;
  }
}

// Style for colored dots in navbar
@mixin listDot($color) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: $color;
}

// used to create the dots next to each planet in the navbar for smaller sizes
@each $item, $colors in $planetColors {
  #dot-#{$item} {
    @include listDot($color: $colors);
    @include screen-lg {
      display: none;
    }
  }
}
