// Colors
$white: #FFFFFF;
$navy: #070724;
$darkGray: #38384F;
$lightGray: #838391;
$lightBlue:  #419EBB;
$yellow: #EDA249;
$purple: #6F2ED6;
$redOrange: #D14C32;
$red: #D83A34;
$orange: #CD5120;
$green: #1EC2A4;
$blue: #2D68F0;

// Media Query variables 
$screen-xs: 325px;
$screen-sm: 480px;
$screen-md: 600px;
$screen-lg: 768px;
$screen-xl: 1025px;
$screen-xxl: 1440px;



