// Colors
$white: #ffffff;
$navy: #070724;
$darkGray: #38384f;
$lightGray: #838391;
$Mercury: #419ebb;
$Venus: #eda249;
$Earth: #6f2ed6;
$Mars: #d14c32;
$Jupiter: #d83a34;
$Saturn: #cd5120;
$Uranus: #1ec2a4;
$Neptune: #2d68f0;

// $planetColorOrder: $Mercury, $Venus, $Earth, $Mars, $Jupiter, $Saturn, $Uranus, $Neptune;
// $planetOrder: 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune';
$planetList: ("Mercury": $Mercury, "Venus": $Venus, "Earth": $Earth, "Mars": $Mars, "Jupiter": $Jupiter, "Saturn": $Saturn, "Uranus": $Uranus, "Neptune": $Neptune);
$opaqueWhite: rgba(255, 255, 255, 0.1);
// Media Query variables
$screen-xs: 325px;
$screen-sm: 480px;
$screen-md: 600px;
$screen-lg: 768px;
$screen-xl: 1025px;
$screen-xxl: 1440px;

$grid-breakpoints: (
  xxs: 0,
  xs: 325px,
  sm: 480px,
  md: 600px,
  lg: 768px,
  xl: 1025px,
  xxl: 1440px,
);
