@use 'sass:meta';
// Colors
$white: #ffffff;
$navy: #070724;
$darkGray: #38384f;
$lightGray: #838391;
$mercury: #419ebb;
$venus: #eda249;
$earth: #6f2ed6;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec2a4;
$neptune: #2d68f0;
$opaqueWhite: rgba(255, 255, 255, 0.2);
$opaqueLightGray: rgba(216, 216, 216, 0.2);
// Used with root declaration and css-color-var function to use css variables
$css-color-vars: (
  mercury: #419ebb,
  venus: #eda249,
  earth: #6f2ed6,
  mars: #d14c32,
  jupiter: #d83a34,
  saturn: #cd5120,
  uranus: #1ec2a4,
  neptune: #2d68f0
);

$planetColors: (
  'mercury': $mercury,
  'venus': $venus,
  'earth': $earth,
  'mars': $mars,
  'jupiter': $jupiter,
  'saturn': $saturn,
  'uranus': $uranus,
  'neptune': $neptune,
);

$planetOrder: 'mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune';

// Media Query variables
$screen-xs: 325px;
$screen-sm: 480px;
$screen-md: 600px;
$screen-lg: 768px;
$screen-xl: 1025px;
$screen-xxl: 1440px;

$grid-breakpoints: (
  xxs: 0,
  xs: 325px,
  sm: 480px,
  md: 600px,
  lg: 768px,
  xl: 1025px,
  xxl: 1440px,
);
