html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $navy;
  background-image: url('/src/assets/images/background-stars.svg');
  background-size: cover;
}

:root {
  @each $color_name, $color in $css-color-vars {
    --color-#{$color_name}: #{$color};
  }
  --planet-color: css-color-var(venus);
}

.loading-text {
  color: $white;
}
