@font-face {
  font-family: 'AntonioMedium';
  src: local('AntonioMedium'), url('../../fonts/Antonio-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpartanBold';
  src: local('SpartanBold'), url('../../fonts/Spartan-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpartanRegular';
  src: local('SpartanRegular'), url('../../fonts/Spartan-Regular.ttf') format('truetype');
}
