@font-face {
  font-family: 'AntonioMedium';
  src: url('/src/assets/fonts/Antonio-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SpartanBold';
  src: local('SpartanBold'), url('/src/assets/fonts/Spartan-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpartanRegular';
  src: local('SpartanRegular'), url('/src/assets/fonts/Spartan-Regular.ttf') format('truetype');
}
