h1 {
  font-family: 'AntonioMedium';
  font-size: 40px;
  color: $white;
  text-transform: uppercase;

  @include screen-lg {
    font-size: 48px;
  }

  @include screen-xxl {
    font-size: 80px;
  }
}

h2 {
  font-family: 'AntonioMedium';
  font-size: 20px;
  color: $white;
  line-height: 52px;
  letter-spacing: -0.75px;

  @include screen-lg {
    font-size: 24px;
    letter-spacing: -0.9px;
  }

  @include screen-xxl {
    font-size: 40px;
    letter-spacing: -1.5px;
  }
}
