
@font-face {
    font-family: 'AntonioMedium';
    src: url('/src/assets/fonts/Antonio-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SpartanBold';
    src: local('SpartanBold'), url('/src/assets/fonts/Spartan-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SpartanRegular';
    src: local('SpartanRegular'), url('/src/assets/fonts/Spartan-Regular.ttf') format('truetype');
  }
  

:root {

    --opaque-white: rgba(255, 255, 255, 0.1);
    --white: #ffffff;
    --navy: #070724;
    --dark-gray: #38384f;
    --light-gray: #838391;
    --Mercury: #419ebb;
    --Venus: #eda249;
    --Earth: #6f2ed6;
    --Mars: #d14c32;
    --Jupiter: #d83a34;
    --Saturn: #cd5120;
    --Uranus: #1ec2a4;
    --Neptune: #2d68f0;

    --screen-xs: 325px;
    --screen-sm: 480px;
    --screen-md: 600px;
    --screen-lg: 768px;
    --screen-xl: 1025px;
    --screen-xxl: 1440px;
}