#layout{
    background: url('/src/assets/images/background-stars.svg');
    
    width: 100vw;
    overflow-x: hidden;
    @include screen-xxl {
        // margin: auto 165px;
        // width: 90vw;
        // max-width: 90vw;
    }
}