.planet {
  text-align: center;
  color: $white;
  margin-bottom: 28px;
  min-width: 100%;
  @include screen-lg {
    display: flex;
    align-items: center;
    padding:0 40px;
    justify-content: space-between;
  }

  @include screen-xxl {
    flex-direction: column;
    justify-content: end;
    align-items: end;
    min-width: 50%;
    width: 50%;
  }
  &-info {
    display: flex;
    flex-direction: column;

    @include screen-lg {
      width: 48%;
      text-align: left;
      margin-left: 1rem;
    }

    @include screen-xxl {
      width: 60%;
    }
  }

  &-name {
    font-size: 40px;
    font-weight: 400;

    @include screen-lg {
      font-size: 48px;
    }


    @include screen-xxl {
      font-size: 80px;
    }
  }
  &-description {
    margin: 0 1.5rem 2.5rem;
    font-family: 'SpartanRegular';
    font-size: 11px;
    line-height: 22px; /* 200% */

    @include screen-lg {
      margin-left: 0;
    }

    @include screen-xxl{
      font-size: 14px;
      line-height: 25px;
    }
  }
  &-source {
    font-family: 'SpartanRegular';
    font-size: 12px;
    line-height: 25px;
    opacity: 0.5;

    @include screen-xxl {
      font-size: 14px;
    }
    a {
      font-family: 'SpartanBold';
      font-size: 12px;
      line-height: 25px;
      color: $white;
      opacity: 0.5;
    }
  }
  
  #bodyNav {
    width: 45%;

    @include screen-xxl {
      width: 70%;
    }
  }
}


#desktop-container {
  @include screen-xxl {
    display: flex;
    justify-content: space-between;
    margin: 16px 25px 47px;
  }
}