.fact-box {
  margin-bottom: 3rem;
@include screen-lg {
        display: flex;
        padding: 0 40px;
        min-width: 100%;
    }

    @include screen-xxl {
        justify-content: center;
    }
  .fact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    border: 1px solid $opaqueWhite;
    margin: 0 24px 8px;
    padding: 0 24px;
    text-transform: uppercase;

    @include screen-lg {
        margin: 0 5px 8px;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        padding: 16px 65px 4px 15px;
        width: 20.5vw;
    }
    
    @include screen-xxl {
        margin: 0 15px 8px;
        padding: 27px 120px 27px 23px;
        width: 17.5vw;
        height: 16vh;
    }

    &-topic {
        margin: 0;
        font-family: 'SpartanBold';
        font-size: 8px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.727px;
        opacity: 0.5;

        @include screen-lg {
            width: 12vw;
        }

        @include screen-xxl {
            font-size: 11px;
            line-height: 25px;
        }
    }
    
    &-stat {
        font-size: 20px;
        letter-spacing: -0.75px;
        
        @include screen-lg {
            font-size: 24px;
            letter-spacing: -0.9px;
            width: 12vw;
        }

        @include screen-xxl {
            font-size: 40px;
            letter-spacing: -1.5px;
        }
    }
  }
}
