.fact-box {
  margin-bottom: 3rem;

  @include screen-lg {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: 0 40px;
  }

  @include screen-xxl {
    justify-content: center;
    width: 78%;
    min-width: 78%;
    padding: 0;
    ;
  }

  .fact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 0.5rem;
    padding: 0 1.5rem;
    border: 1px solid $opaqueWhite;
    color: $white;
    text-transform: uppercase;

    @include screen-lg {
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      min-width: 23%;
      margin: 0 .5rem;
      padding: 1rem 4rem 0.25rem 1rem;
    }

    @include screen-xxl {
    //   width: 17.5vw;
      height: 16vh;
      margin: 0 15px 8px;
      padding: 27px 120px 27px 23px;
    }

    &:first-child {
        @include screen-lg {
            margin-left: 0;
        }
    }
    
    &:last-child {
        @include screen-lg {
            margin-right: 0;
        }
    }

    &-topic {
      margin: 0;
      font-family: 'SpartanBold';
      font-size: 8px;
      line-height: 16px;
      letter-spacing: 0.727px;
      opacity: 0.5;

      @include screen-lg {
        width: 13vw;
      }

      @include screen-xxl {
        font-size: 11px;
        line-height: 25px;
      }
    }

    &-stat {
      @include screen-lg {
        width: 13vw;
      }
    }
  }
}
