

#navbar {

    display: flex;
    justify-content: center;
    width: 100vw;

    &-container {
        display: flex;
        padding: 1rem;
    }

  #title {
    font-family: 'AntonioMedium';
    font-size: 28px;
  
    text-transform: uppercase;
    color: white;
  }

  #basic-navbar-nav {
    background-color: $navy;

    .planet-list {
    padding: 0;
      list-style: none;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
          width: 90vw;
          margin: 0 auto;
          padding: 20px;
          border-bottom: 1px solid $opaqueWhite;

        &-link {
            font-family: 'SpartanBold';
            font-size: 15px;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;

           

          &:visited {
            color: $white;
          }
        }

        &-arrow {
            margin-left:20px;
            justify-self:end;
        }
      }
    }
  }
}

// Located in Layout component
#nav-border {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    color: $white;
}

.hamburger-icon {
    opacity: 0.25;
}