#secondary_navbar {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  font-family: 'SpartanBold';

  @include screen-lg {
    margin: 0;
  }

  @include screen-xxl {
    margin: 0;
    padding: 0;
  }

  &_container {
    padding: 0;
  }

  &_nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100vw;

    @include screen-lg {
      flex-direction: column;
      width: 50%;
    }

    .secondary_link {
      width: 25%;
      padding-bottom: 1rem;
      font-size: 9px;
      color: $white;
      text-align: center;
      text-decoration: none;
      letter-spacing: 2.571px;
      
      &:hover {
        background-color: $opaqueLightGray;
      }

      @include screen-lg {
        width: 100%;
        margin-bottom: 1rem;
        padding: 10px 0 10px 15px;
        border: 1px solid $opaqueWhite;
        text-align: left;

        @for $i from 1 through 3 {
          &:nth-child(#{$i})::before {
            content: '0#{$i}';
            margin-right: 12px;
            color: $white;
            line-height: 25px;
            opacity: 0.5;
          }
        }
      }

      @include screen-xxl {
        font-size: 12px;
      }
    }
  }

  // Sets the border for each selected subsection in the secondary nav bar
  @each $planet in $planetOrder {
    .active-#{$planet} {
      border-bottom: 3px solid css-color-var($planet);

      @include screen-lg {
        border-bottom: 1px solid $opaqueWhite;
        background-color: css-color-var($planet);
        text-align: left;
      }
    }
  }
}

#sub-nav-border {
  position: relative;
  width: 100vw;
  margin: 0;
  color: $white;
}
